body{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 88px;
    border: solid 1px whitesmoke;
    box-sizing: border-box;
    z-index: 200;
    position: fixed;
    background: #e4f5fe;
}
.inviz{
    width: 100%;
    height: 80px;
    background: #e4f5fe;
    font-family: "Comic Sans MS";
    text-align: center;
}
h2{
    margin: 0;
    padding-top: 22px;
}
.head-li{
    display: inline-block;
    font-family: "Comic Sans MS";
    padding-left: 145px;
}
.head-ul{
    float: left;
}
.head-a{
     display: inline-block;
     padding: 10px;
     font-size: 20px;
     color: black;
     font-family: "Comic Sans MS";
 }
.head-a:active{
    color: #ebc4fd;
    font-family: "Comic Sans MS";
    text-decoration: none;
}
.center-li{
    margin: 0 auto;
}
.shoping{
    width: 50px;
    height: 60px;
    background:url("../images/shop.png") 100% no-repeat;
    background-size: 100%;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.shopcart{
    width: 50px;
    height: 60px;
    background:url("../images/shopcart.png") 100% no-repeat;
    background-size: 100%;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.home{
    position: relative;
    width: 100%;
    height: 88vh;
    background: url("../images/home.jpg") no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y:-450px;
}
h1{
    color: white;
    text-align: center;
}
.backshedow{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}
.LogoAndText{
    position: relative;
    top:35%;
    margin: 0 auto;
    width: 300px;
}
.toys{
    position: relative;
    width: 100%;
    height: 150vh;
}
.abaut{
    position: relative;
    width: 100%;
    height: 88vh;
    font-family: "Comic Sans MS";
}
.contacts{
    position: relative;
    width: 100%;
    height: 88vh;
    font-family: "Comic Sans MS";
}
.footer{
    width: 100%;
    height: 200px;
    background: #a28abf;
    font-family: "Comic Sans MS";
}
.upShow{
    position: fixed;
    width: 80px;
    height: 80px;
    background: #ffcee5 url("../images/arrowUpDown.png") no-repeat;
    background-position: 50%;
    background-size: 70%;
    border-radius: 100%;
    top: 70vh;
    left: 92%;
    transform: rotate(180deg);
}
.downShow{
    position: fixed;
    width: 70px;
    height: 70px;
    background: #ffcee5 url("../images/arrowUpDown.png") no-repeat;
    background-position: 50%;
    background-size: 70%;
    border-radius: 100%;
    top: 85vh;
    left: 93%;
}
.facebookLeft{
    width: 200px;
    height: 50px;
    background: #ebc4fd;
    top:148px;
    left:-150px;
    position: fixed;
    z-index: 200;
    transition: 0.4s;

}
.facebookLeftP{
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
    float: left;
    padding-top: 10px;
    padding-left: 30px;

}
.instaLeft{
    width: 200px;
    height: 50px;
    background: #ebc4fd;
    top:200px;
    left:-150px;
    position: fixed;
    z-index: 200;
    transition: 0.4s;
}
.instaLeftP{
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
    float: left;
    padding-top: 10px;
    padding-left: 30px;
}
.facebookLeft:hover{
    left:0px;
}
.instaLeft:hover{
    left:0px;
}
.logoF{
    width: 50px;
    height: 50px;
    background: url("../images/logoF.png") no-repeat;
    background-size: 75% 75%;
    background-position: center;
    float: right;
}
.logoI{
    width: 50px;
    height: 50px;
    background: url("../images/logoI.png") no-repeat;
    background-size: 75% 75%;
    background-position: center;
    float: right;
}
.facebookLeft-a{
    color: black;
}
.instaLeft-a{
    color: black;
    text-decoration: underline;
}
.facebookLeft-a:active{
    color: #e4f5fe;
    font-family: "Comic Sans MS";
    text-decoration: none;
}
.instaLeft-a:active{
    color: #e4f5fe;
    font-family: "Comic Sans MS";
    text-decoration: none;
}
.wrapForText{
    text-align: justify;
    margin: 5% auto;
    width: 90%;
    height: 90%;
}
.shop{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.ToyssShopDiv{
    width: 100%;
    height: 100%;
    float: left;
    background-size: contain;
}
.CardBlock{
    width: 30%;
    height: 48%;
    border: solid 1px #ebc4fd;
    float: left;
    background-size: contain;
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
}
.NameToys{
    margin: 2px;
    margin-left: 20px;
    font-family: "Comic Sans MS";
}
.PriceToys{
    text-align: right;
    font-family: "Comic Sans MS";
}
.TextToys{
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Comic Sans MS";
    opacity: 1;
}
.CardBlockShowe {
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: 1s;
    opacity: 0;
    top:100%;
    position: relative;
    border-radius: 25px;
    background: rgba(255,255,255, 1);
}
.CardBlock:hover > .CardBlockShowe{
    top: -3px;
    height: 100%;
    opacity: 1;
}
.OpenMainShop{
    margin-top: 20px;
    text-align: center;
    height: 20px;
    font-family: "Comic Sans MS";

}
/*color*/
/*background: #e4f5fe;*/
/*background: #ffcee5;*/
/*background: #fdffde;*/
/*background: #ebc4fd;*/
/*background: #a28abf*/